/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 400; /* Decrease font weight for nav links */
    font-size: 14px; /* Decrease font size for nav links */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4caf50;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-image {
    max-width: 95px; /* Adjusted size */
    margin-right: 25px;
    transition: transform 0.3s ease; /* Smooth scaling */
}
.logo-image:hover {
    transform: scale(1.1); /* Scale up the logo */
}

/* Get Started Section */
.get-started {
    padding: 50px 20px;
    background: #f9f9f9;
}

.get-started-container {
    max-width: 800px;
    margin: 0 auto;
}

.get-started h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4caf50;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="checkbox"], .form-group input[type="radio"] {
    margin-right: 10px;
}

.submit-button {
    background: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-button:hover {
    background: #3e8e41;
}

/* Footer Section */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
